/* Hide scrollbar for Chrome, Safari and Opera */

.nosb::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.nosb {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Sidebar */

.sidebar {
    /*@apply w-0;*/
    width: 0px;
    /*
    box-shadow: 12px 0px 27px -9px rgba(0,0,0,0.46);
    -webkit-box-shadow: 12px 0px 27px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: 12px 0px 27px -9px rgba(0,0,0,0.46);
    */
    transition: width ease-out 0.3s;
}

.sidebar.sidebar-open{
    /*@apply w-60;*/
    width: 320px/* 240px */;
    transition: width ease-in 0.3s;
}

.sidebar div .sidebar-wrap{
    /*@apply opacity-0;*/
    opacity: 0;
    transition: opacity ease-out 0.3s;
}

.sidebar.sidebar-open div .sidebar-wrap{
    /*@apply opacity-100;*/
    opacity: 1;
    transition: opacity ease-in 0.3s;
}

.sidebar-wrap{
    /*@apply p-1;*/
    padding: 0.25rem/* 4px */;
}


/* SidebarGroup */
.sidebar-caret{
    /*@apply transform rotate-0;*/
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition: all ease-in-out 0.1s;
}
.sidebar-caret.sidebar-caret-rotate{
    /*@apply transform rotate-180;*/
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition: all ease-in-out 0.1s;
}

.sidebar-group.sidebar-group-open{
    /*@apply bg-gray-600;*/
    background-color: rgb(75 85 99);
}

/* SidebarItem */
.sidebar-route-active{
    /*@apply bg-gray-500;*/
    background-color: rgb(107 114 128);
}

.sidebar-layout-content{
    height: calc(100% - 48px );
}
